// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$black: #000000;
// body-bg
$gray: #DFE3EB;
// btn-color
$dark-blue: #121F2F;
// bunner bg (top)
$blue: #5F73FF;
// categories color
$orange: #FFA85F;
$red: #FF5F5F;
// search bar
$light-gray: #F4F4F4;
