// Define variables for your color scheme

$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$search-color: #98C1D9;

// For example:
$white: #FFFFFF;
$black: #313131;

// body-bg
$gray: #F4EFEA;
// btn-color
$dark-blue: #121F2F;
// banner bg (top)
$blue: #71AF75;
// categories color
$orange: #FFA85F;
$red: #FF5F5F;
// search bar
$light-gray: #F4F4F4;

$beach-category-color: #FFA85F;

$classes-category-color: #33529E;
$culture-category-color: #F9D683;
$food-category-color: #EB6662;
$nature-category-color: #82C881;
$next-destination-category-color: #F7B172;
$night-life-category-color: #4772C4;
$sports-category-color: #55AAAE;

$music-category-color: #2E2F31;

$site-seeing-category-color: purple;

// buttons
$btn-blue: #EA9B41;
$btn-orange: #DEBC95;
$blue-hover: #213164;
$light-blue: #506297;
// $green: #1EDD88;
// $yellow: #FFC65A;
$form-gray: #6C757D;
$ligth-black: #7A7E83;

// categories colors
$food: #FF5F5F;
$transport: #F1B02F;
$culture: #EADE84;
// $sport:  ;
$nature: #A3D064;
$nightlife: #11B2AA;
$workshop: #177C99;
