// Define variables for your color scheme

$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$search-color: #98C1D9;

// For example:
$white: #FFFFFF;
$black: #000000;

// body-bg
$gray: #DFE3EB;
// btn-color
$dark-blue: #121F2F;
// banner bg (top)
$blue: #5F73FF;
// categories color
$orange: #FFA85F;
$red: #FF5F5F;
// search bar
$light-gray: #F4F4F4;

$beach-category-color: #FFA85F;
$classes-category-color: #5F73FF;
$culture-category-color: blue;
$food-category-color: #FF5F5F;
$nature-category-color: green;
$next-destination-category-color: #37eb34;
$night-life-category-color: #fa1bbf;
$music-category-color: black;
$site-seeing-category-color: purple;
$sports-category-color: #e3d252;

$btn-blue: #26397B;
$blue-hover: #213164;
$light-blue: #506297;
// $green: #1EDD88;
// $yellow: #FFC65A;
$form-gray: #6C757D;
$ligth-black: #7A7E83;

// categories colors
$food: #FF5F5F;
$transport: #F1B02F;
$culture: #EADE84;
// $sport:  ;
$nature: #A3D064;
$nightlife: #11B2AA;
$workshop: #177C99;
