<div class="activity-card">
  <div class="avatar-category-title-date">
    <div class="activity-card-avatar"></div>
    <div class="category-title-date">
      <h2 class="activity-card-category">Night Life</h2>
      <h1 class="activity-card-title">Bar Hopping</h1>
      <h2 class="activity-card-date">May 25, 2020</h2>
    </div>
    <p class="activity-card-description"></p>
    <div class="activity-card-capacity">
      <p></p>
    </div>
  </div>
</div>
