<div class="board">
  <% if !activities.empty? %>
    <% activities.each do |activity| %>
      <%= render 'shared/activity-card', activity: activity %>
    <% end %>
  <% else %>
    <h2 id="msg-no-requests">You don't have any activities!</h2>
  <% end %>
</div>
