<% activity = Activity.find(323) %>
<ul class="avatars-row-widget">
  <% activity.members.each do |member| %>
    <li class="avatar-item">
      <div class="activity-card-avatar" style="background-image: url('<%= cl_image_path member.user.avatar.key, gravity: "face", height: 73, width: 73, crop: :fill %>')"></div>
    </li>
  <% end %>
</ul>
