<div class="navbar-bottom">
  <div class="nav-links">
    <i class="far fa-envelope"></i>
    <i class="fas fa-home"></i>
    <i class="fas fa-plus-circle"></i>
    <i class="fas fa-search"></i>
    <i class="fas fa-user-circle"></i>
  </div>
</div>
