
<% if notice %>

<div id="notice-wrapper">
  <p class="notice" role="alert">
    <%= notice %>
  </p>
</div>

<% elsif alert %>

<div id="notice-wrapper">
  <p class="alert" role="alert">
    <%= alert %>
  </p>
</div>

<% end %>

