<div class="board">
  <% if !@my_activities.empty? %>
      <% @my_activities.each do |activity| %>
        <% res = activity.members.all? { |member| member.status == "accept" } %>
          <% if res %>
            <h2 id="msg-no-requests">No pending requests!</h2>
          <% else %>
            <% activity.members.each do |member| %>
              <%= render 'shared/request-card', activity: activity, member: member %>
            <% end %>
          <% end %>
      <% end %>
  <% else %>
    <h2 id="msg-no-requests">No pending requests!</h2>
  <% end %>
</div>
