.owner-name {
  color: $black;
  font-size: 16px;
  margin-bottom: 0px;
}

.owner-text {
  width: 200px;
  margin-left: 55px;
}

.owner-title {
  color: $ligth-black;
  font-size: 16px;
  margin-bottom: 0px;
}

.activity-owner-pic {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin-right: 14px;
}

.activity-edit-delete-btns {
  display: flex;
  justify-content: space-between;
}

.btn-activity-edit, .btn-activity-delete {
  color: $white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 49%;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover {
    color: $white;
  }
}

.btn-activity-edit {
  background-color: #1b2270;

  &:hover {
    background-color: #141945;
  }
}

.btn-activity-delete {
  background-color: red;

  &:hover {
    background-color: #9e181a;
  }
}
