.owner-info {
  display: flex;
  justify-content: flex-start;
}

.owner-name {
  color: $black;
  font-size: 16px;
  margin-bottom: 0px;
}

.owner-text {
  width: 200px;
  padding-top: 2px;
}

.owner-title {
  color: $ligth-black;
  font-size: 16px;
  margin-bottom: 0px;
}

.activity-owner-pic {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin-right: 14px;
  z-index: 2;
  top: 1px;
}

.activity-edit-delete-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-activity-edit, .btn-activity-delete {
  color: $white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 49%;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover {
    color: $white;
  }
}

.btn-activity-edit {
  color: $black;
  font-size: 18px;

  &:hover {
    color: $btn-blue;
  }
}

.btn-activity-delete {
  color: $black;
  font-size: 18px;

  &:hover {
    color: $btn-blue;
  }
}

.title-action-profile {
  font-size: 14px;
  margin: 0 !important;
}
