.activity-card-category-beach {
  color: $beach-category-color;
}

.activity-card-category-classes {
  color: $classes-category-color;
}

.activity-card-category-culture {
  color: $culture-category-color;
}

.activity-card-category-food {
  color: $food-category-color;
}

.activity-card-category-nature {
  color: $nature-category-color;
}

.activity-card-category-next-destination {
  color: $next-destination-category-color;
}

.activity-card-category-night-life {
  color: $night-life-category-color;
}

.activity-card-category-music {
  color: $music-category-color;
}

.activity-card-category-site-seeing {
  color: $site-seeing-category-color;
}

.activity-card-category-sports {
  color: $sports-category-color;
}
