// .activity-card-category-beach {
//   color: $beach-category-color;
// }

// .activity-card-category-classes {
//   color: $classes-category-color;
// }

// .activity-card-category-culture {
//   color: $culture-category-color;
// }

// .activity-card-category-food {
//   color: $food-category-color;
// }

// .activity-card-category-nature {
//   color: $nature-category-color;
// }

// .activity-card-category-next-destination {
//   color: $next-destination-category-color;
// }

// .activity-card-category-night-life {
//   color: $night-life-category-color;
// }

// .activity-card-category-music {
//   color: $music-category-color;
// }

// .activity-card-category-site-seeing {
//   color: $site-seeing-category-color;
// }

// .activity-card-category-sports {
//   color: $sports-category-color;
// }


.category-color-line-beach {
  background-color: $beach-category-color;
}

.category-color-line-workshops {
  background-color: $classes-category-color;
}

.category-color-line-culture {
  background-color: $culture-category-color;
}

.category-color-line-food {
  background-color: $food-category-color;
}

.category-color-line-nature {
  background-color: $nature-category-color;
}

.category-color-line-travel {
  background-color: $next-destination-category-color;
}

.category-color-line-night-life {
  background-color: $night-life-category-color;
}

.category-color-line-music {
  background-color: $music-category-color;
}

.category-color-line-site-seeing {
  background-color: $site-seeing-category-color;
}

.category-color-line-sport {
  background-color: $sports-category-color;
}
