.activity-category-icon-beach {
  color: $beach-category-color;
}

.activity-category-icon-workshops {
  color: $classes-category-color;
}

.activity-category-icon-culture {
  color: $culture-category-color;
}

.activity-category-icon-food {
  color: $food-category-color;
}

.activity-category-icon-nature {
  color: $nature-category-color;
}

.activity-category-icon-travel {
  color: $next-destination-category-color;
}

.activity-category-icon-night-life {
  color: $night-life-category-color;
}

.activity-category-icon-music {
  color: $music-category-color;
}

.activity-category-icon-site-seeing {
  color: $site-seeing-category-color;
}

.activity-category-icon-sport {
  color: $sports-category-color;
}

// category line color

.category-color-line-beach {
  background-color: $beach-category-color;
}

.category-color-line-workshops {
  background-color: $classes-category-color;
}

.category-color-line-culture {
  background-color: $culture-category-color;
}

.category-color-line-food {
  background-color: $food-category-color;
}

.category-color-line-nature {
  background-color: $nature-category-color;
}

.category-color-line-travel {
  background-color: $next-destination-category-color;
}

.category-color-line-night-life {
  background-color: $night-life-category-color;
}

.category-color-line-music {
  background-color: $music-category-color;
}

.category-color-line-site-seeing {
  background-color: $site-seeing-category-color;
}

.category-color-line-sport {
  background-color: $sports-category-color;
}
