.category-scroll {
  overflow: auto;
  height: 55px;
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 14px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.category-scroll::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.cat-card {
  color: $white;
  height: 50px;
  width: 150px;
  margin: 5px 5px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-family: "Roboto", "Helvetica", "sans-serif";
  font-size: 18px;
  font-weight: bold;
  flex-shrink: 0;
  line-height: normal;
  text-align: center;
}

.nearby-cat {
  background-color: black;
}

.beach-cat {
  background-color: $beach-category-color;
}

.classes-cat {
  background-color: $classes-category-color;
}

.culture-cat {
  background-color: $culture-category-color;
}

.food-cat {
  background-color: $food-category-color;
}

.nature-cat {
  background-color: $nature-category-color;
}

.next-cat {
  background-color: $next-destination-category-color;
}

.night-cat {
  background-color: $night-life-category-color;
}

.music-cat {
  background-color: $music-category-color;
}

.site-see-cat {
  background-color: $site-seeing-category-color;
}

.sports-cat {
  background-color: $sports-category-color;
}
