.header-scroll {
  width: 100%;
  position: fixed;
  background-color: $gray;
  z-index: 100;
  }

.category-scroll {
  overflow: auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  margin: 8px 16px 5px 16px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.category-scroll::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.all-results-scroll {
  padding-top: 275px;
}

.cat-card {
  color: $white;
  height: 74px;
  width: 110px;
  margin: 5px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  font-family: "Roboto", "Helvetica", "sans-serif";
  font-size: 18px;
  font-weight: bold;
  flex-shrink: 0;
  line-height: normal;
  text-align: center;
  padding: 10px;

  &:hover {
    color: $white;
  }
  i {
    font-size: 28px;
  }
}

.cat-selected {
  border: 4px solid white;
}

.nearby-cat {
  background-color: #2E2F31;

  i::before {
    content: "\f21d";
  }
}

.workshops-cat {
  background-color: $classes-category-color;

  i::before {
    content: "\f19d"
  }
}

.culture-cat {
  background-color: $culture-category-color;

  i::before {
    content: "\f03e";
  }
}

.food-cat {
  background-color: $food-category-color;

  i::before {
    content: "\f2e7";
  }
}

.nature-cat {
  background-color: $nature-category-color;

  i::before {
    content: "\f1bb";
  }
}

.travel-cat {
  background-color: $next-destination-category-color;

  i::before {
    content: "\f207";
  }
}

.life-cat {
  background-color: $night-life-category-color;

  i::before {
    content: "\f79f";
  }
}

.sport-cat {
  background-color: $sports-category-color;

  i::before {
    content: "\f70c";
  }
}
