.bottom-content-chat-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  & ul {
    margin: 0 10px;
  }
}

.chat-title {
  font-size: 24px;
  color: $black;
  font-weight: bold;
}

.last-update {
  color: #848383;
  font-size: 12px;
}

.margin-chat-box {
  margin-bottom: 10px;
  padding: 10px;
}

.header-chat-index {
    height: 150px;
    padding: 0 16px 100px;
    margin-bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px
}
