.bottom-content-chat-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 15px 10px -15px 10px;
    & ul {
    margin: 0 10px;
  }
}

.chat-title {
  font-size: 24px;
  color: $black;
  font-weight: bold;
  margin: 0 10px;
}

.last-update {
  color: $white;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: -5px;
}

.margin-chat-box {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0 0 0;
}

.header-chat-index {
    height: 150px;
    padding: 0 16px 100px;
    margin-bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px
}

 .category-color-line {
  height: 25px;
  border-radius: 0 0 6px 6px;
 }

 .all-messages {
   margin-top: 60px;
 }

.last-message-in-chat {
    margin: 10px 10px 10px 10px;
    color: gray;
}
