.activity-form{
  margin: 16px 0px;
  color: $dark-blue;
  background-color: $white;
  padding: 10px;
  border-radius: 6px;
  position: relative;
  bottom: 45px;
  & h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}


