.header {
  background: $blue;
  border-radius: 0 0 40px 40px;
  height: 100px;
}

.logo {
  font-family: $logo-font;
  font-weight: normal;
  font-size: 32px;
  color: $white;
  text-align: center;
  padding-top: 22px;
}

.banner .logo {
  font-family: $logo-font;
  font-weight: normal;
  font-size: 32px;
  color: $white;
  text-align: center;
  padding-top: 22px;
}

.header-login-signup .logo {
  font-family: $logo-font;
  font-weight: normal;
  font-size: 32px;
  color: $white;
  text-align: center;
  padding-top: 22px;
  z-index:1;
  position: relative;
  top: -44px;
}

.header-update .logo {
  position: relative;
  top: -43px;
}

.header-new .logo {
  position: relative;
  top: -43px;
}

a:hover {
  text-decoration: none;
}

.header-md {
  height: 125px;
}

.header-xl {
  height: 234px;
  text-align: center;
  color: $white;
}

.header-homepage {
  height: 225px;
  padding: 0 16px 100px;
  margin-bottom: -105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-homepage h1 {
  padding-top: 5px;
}

// chat header

.chat-header {
  height: 180px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-back-link {
  height: 150px;
  width: 100%;
  top: 0;
}

.header-create {
  & a {
    color: $white;
  }
  & h1 {
    margin: 0 auto;
    padding: 0;
  }
}

.chat-title-show {
  margin-top: 10px;
}
