.tm-btn-primery {
  font-family: $headers-font;
  display: block;
  background: $btn-blue;
  color: $white;
  border-radius: 4px;
  padding: 10px 100px;
  text-align: center;
  margin: 0px 0px 8px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: $white;
    background: $btn-orange;
  }
}


.tm-btn-secondary {
  font-family: $headers-font;
  display: block;
  background: $btn-orange;
  color: $white;
  border-radius: 4px;
  padding: 10px 100px;
  text-align: center;
  margin: 0px 0px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: $white;
    background: $btn-blue;
  }
}


.btns-home {
  background-color: $white;
  padding: 7px 6px;
  border-radius: 6px;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 385px;

}
