.header {
  background: $blue;
  border-radius: 0 0 40px 40px;
  height: 100px;
   }

.logo {
  font-family: $headers-font;
  font-weight: normal;
  font-size: 32px;
  color: $white;
  text-align: center;
  padding-top: 22px;
}

a:hover {
  text-decoration: none;
}

.header-md {
  height: 125px;
}

.form-title {

}
