// msssage input
.message-input-bg {
  background: $blue;
  & i {
    color: $white;
  }
}

.message-input {
  width: 80%;
  background: $light-gray;
  border-radius: 6px;
}

// massgae bubble onwer

// massgae bubble members
