.navbar-bottom {
  background-color: #F2F2F2;
  color: #6147ef;
  display: flex;
  height: 38px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  i {
    font-size: 25px;
  }
}
