.navbar-bottom {
  background-color: $blue;
  padding-bottom: 30px;
  padding-top: 12px;
  display: flex;
  height: 65px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  i {
    font-size: 25px;
    color: $white;
  }
}
