.search-bar {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  height: 52px;
  border-radius: 4px;
  background-color: #F2F2F2;
  margin: 0 16px;
  flex-direction: row;
  z-index: 1;
}

.search-bar input[type="text"] {
  border: 0px;
  margin: 0px;
  padding: 10px;
  flex-grow: 1;

  &:focus {
    outline: none;
  }
}



.search-bar button[type="submit"] {
  border-radius: 4px;
  height: 40px;
  width: 40px;
  letter-spacing: 2px;
  font-size: 29px;
  color: #f2f2f2;
  text-align: center;
  margin: 5px;
  border: 0px;
  background-color: $btn-blue;

  &:focus {
    outline: none;
  }
}
