.search-bar {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  height: 52px;
  border-radius: 4px;
  background-color: white;
  margin: 0 16px;
  flex-direction: row-reverse;
  z-index: 1;
}

.search-btn {
  border-radius: 4px;
  height: 40px;
  width: 40px;
  letter-spacing: 2px;
  background-color: #2C4050;
  font-size: 29px;
  color: white;
  text-align: center;
  margin: 5px;
}

.header-searchbar {

}
