.box-background {
  background: $white;
  border-radius: 6px;
  padding: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.show-info p {
  color: $black;
  margin-top: 14px;
  margin-bottom: 14px;
}

.info-paragraph i {
  margin-right: 10px;
  }

.activity-date-center {
  text-align: center;
  font-size: 14px;
}

.back-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 15px;
  & a, i {
    font-size: 24px;
    color: $white;
  }
}

.activity-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 36px;
  }

.activity-category {
  padding: 5px 10px;
  border: 2px solid $white;
  color: $white;
  font-weight: bold;
  border-radius: 6px;
}
