.box-background {
  background: $white;
  border-radius: 6px;
  padding: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.activity-info p {
  color: $black;
  margin-top: 14px;
  margin-bottom: 14px;
}

.info-paragraph i {
     margin-right: 10px;
  }

.owner-content h1 {
  color: $black;
  font-size: 16px;
}

.owner-title {
  color: $ligth-black;
}
