.tm-form{
  margin: 16px 0px;
  color: $dark-blue;
  background-color: $white;
  padding: 10px;
  border-radius: 6px;
  position: relative;
  bottom: 45px;
  & h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}

.user_gender legend {
  display: none;
}

.form-check label {
  color: $form-gray;
}

.form {
  margin-bottom: 19px;
}

.form-login {
  background: white;
  padding: 5px 10px;
  margin: 20px auto 0;
  border-radius: 4px;
}

.h2{
  font-size: 32px;
}

.form-title {
  margin-top: 22px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.form-btn {
  width: 100%;
  margin: 0;
}

.login-link{
  text-align: center;
  margin-top: 12px;
  margin-bottom: 10px;
  &a {
    color: $blue;
  }
}

.birth-title {
  color: $form-gray;
  font-size: 14px;
}

.divider {
  height: 1px;
  background-color: $gray;
}

.have-account {
  margin-top: 10px;
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 14px;
  color: $black;
  text-align: center;
}

.forgot {
  margin-top: 10px;
  margin-bottom: 11px;
  font-size: 14px;
  color: $blue;
  text-align: center;
}

#user_age_1i {
  padding-right: 0;
}

.full-name {
  display: flex;
  justify-content: space-between;
} 

.last-name {
  width: calc(100% / 2);
  margin-left: 5px;
  transition: 10ms;
     
 }

.first-name{
  width: calc(100% / 2);
  margin-right: 5px;
  transition: 10ms;
}

.first-name:hover {
  width: calc(100%);
  transition: 10ms;
}
 
.last-name:hover{
  width: calc(100%);
  transition: 10ms;
}
