.user-title h1 {
  font-size: Bold;
  font-size: 36px;
  color: $white;
}

.user-about p {
  margin-top: 0px;
}

.user-profile-pic img {
  margin: auto;
  margin-bottom: 12px;
  height: 94px;
  width: 94px;
  border: 2px solid $white;
  border-radius: 50%;
}
