<div class="form-page">
  <div class="header header-md">
    <h1 class="logo">Create an activity</h1>
</div>
  <div class="container-sm">
    <div class="activity-form">
      <%= render "form", activity: @activity %>
    </div>
  </div>
</div>
