<div class="form-page">
  <div class="header header-back-link header-create">
    <div class="back-category">
      <%= link_to :back do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
    </div>
    <h1 class="logo">New Activity</h1>
    </div>
  <div class="container-sm">
    <div class="tm-form">
      <%= render "form", activity: @activity %>
    </div>
  </div>
</div>

<% content_for :title, "New Activity · TravelMate" %>
